<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='agrega_style.css') }}">
</head>
<body>
    <h1>Agregar usuario</h1>
    <form method="post">
    <label for="name">Ingrese el nombre:</label>
    <input type="text" name="name" id="name" required>
    <br>
    <label for="ap_pat">Ingrese el apellido paterno:</label>
    <input type="text" name="ap_pat" id="ap_pat" required>
    <br>
    <label for="ap_mat">Ingrese el apellido materno:</label>
    <input type="text" name="ap_mat" id="ap_mat">
    <br>
    <label for="password">Contraseña:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <label for="email">Correo electrónico:</label>
    <input type="text" name="email" id="email">
    <br>
    <label for="super_user">¿Es un super usuario?</label>
        <select name="super_user" id="super_user">
            <option value="no">No</option>
            <option value="yes">Sí</option>
        </select>
    <br>
    <button>Crear usuario</button>
    </form>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>