<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elimina usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='agrega_style.css') }}">
</head>
<body>
    <h1>Elimina usuario</h1>
    <form method="post">
    <label for="user_id">Ingrese el ID del usuario:</label>
    <input type="text" name="user_id" id="user_id" required>
    <br>
    <button>Crear usuario</button>
    </form>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>