<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloneBuster</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="first-section">
        <div class="container">
            <div class="header">
                <div class="text main">CLONEBUSTER</div>
            </div>
        </div>
    </div>

    <div class="crud-section">
        <div class="centered-square">
            <a href="/usuario/agregar" class="button create">Agregar Usuario</a>
            <a href="/usuario/consultar" class="button read">Consultar Usuarios</a>
            <a href="/usuario/actualizar" class="button update">Actualizar Usuario</a>
            <a href="#" class="button delete">Borrar Usuario</a>
        </div>
    </div>

    <div class="crud-section">
        <div class="centered-square">
            <a href="/pelicula/agregar" class="button create">Agregar Película</a>
            <a href="/pelicula/consultar" class="button read">Consultar Películas</a>
            <a href="/pelicula/actualizar" class="button update">Actualizar Película</a>
            <a href="#" class="button delete">Borrar Película</a>
        </div>
    </div>

    <div class="crud-section">
        <div class="centered-square">
            <a href="/renta/agregar" class="button create">Agregar Renta</a>
            <a href="/renta/consultar" class="button read">Consultar Rentas</a>
            <a href="/renta/actualizar" class="button update">Actualizar Renta</a>
        </div>
    </div>
</body>
</html>